/* WHOLE DOC */

html {
    display: flex;
    justify-self: center;
    width: 1400px;
  }
  
  body {
    background-color: #284B63;
    margin-top: 0px;
  }
  
  .font-stats {
    font-family: 'Lexend', sans-serif;
    color: #FFFFFF;
    line-height: 200%;
  }
  
  
  /* NAV BAR */
  
  nav {
    position: fixed;
    display: flex;
    align-items: center;
    height: 120px;
    width: 1380px;
    top: 0%;
    background-color: #3C6E71;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
  }

.nav-bar-profile {
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-info {
    list-style: none;
    margin-top: 20px;
    font-size: 28px;
}

.nav-name-text {
    font-weight: bold;
}

  .nav-bar-order {
    list-style: none;
    display: flex;
    column-gap: 120px;
  }

  .nav-bar-contents {
    display: flex;
  }
  
.profile-pic {
    height: 80px;
    width: 80px;
    border-radius: 20%;
}


.nav-bar-links {
    display: flex;
}

  .nav-bar-tabs {
    display: flex;
    column-gap: 100px;
    padding: 25px;
    list-style-type: none;
    align-items: center;

  }
  
  .nav-bar-boxes {
    background-color: #284B63;
    border-radius: 1em;
    height: 80px;
    padding: 25px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
  }
  
  
  /* SECTIONS */
  
  .section-headings {
    font-size: 40px;
    font-weight: bold;
  }
  
  .sections {
    padding-top: 220px;
  }
  
  
  /* ABOUT ME SECTION */
  
  #about-me {
    display: flex;
    flex-direction: column;
    padding-top: 220px;
    font-weight: lighter;
  }
  
  .about-me-text {
    font-size: 24px;
    font-weight: lighter;
  }
  
  .list-of-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    column-gap: 100px;
  }
  
  
  /* PROJECTS SECTION */
  
  .project-subheadings {
    padding-top: 10px;
    font-size: 32px;
    font-weight: bold;
    border-style: solid;
    border-color: #FFFFFF;
    text-align: center;
  }
  
  .project-boxes {
    display: flex;
    justify-content: center;
    column-gap: 100px;
  }
  
  .project-icons {
    padding: 75px;
  }
  
  
  
  /* CONTACT SECTION */
  
  .contact-form {
    display: flex;
    flex-direction: column;
    column-gap: 500px;
    font-size: 24px;
    font-weight: 200;
    padding-bottom: 300px;
  }
  
  .contact-email {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .textbox-email {
    width: 750px;
    height: 50px;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1.5px;
    background-color: #284B63;
  }
  
  .contact-message {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  }
  
  .textbox-message {
    width: 750px;
    height: 200px;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1.5px;
    background-color: #284B63;
    line-height: 100%;
  }
  
  textarea[type=text] {
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Lexend', sans-serif;
    color: #FFFFFF;
    line-height: 200%;
    padding-left: 10px;
  }
  
  placeholder {
    font-size: 24px;
    font-weight: 100;
    padding-left: 5px;
    font-family: 'Lexend', sans-serif;
    line-height: 200%;
  }

  .send-button {
    margin-top:  20px;
    width: 10%;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3C6E71;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1.5px;
  }
